<table>
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Modelo</th>
            <th>Puntuación</th>
            <th>Precio</th>
            <th>RAM/Storage</th>
        </tr>
    </thead>
    <tbody>
        {% for movil in moviles %}
        <tr>
            <td><img src="{{ movil.imgURL }}" width="50"></td>
            <td>**{{ movil.name }}**</td>
            <td>⭐ {{ movil.ratings }}</td>
            <td>{{ movil.price }} ₹</td>
            <td>{{ movil.ram }}GB / {{ movil.storage }}GB</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No hay datos en la base de datos de MongoDB.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>